.challenge {
  padding: 1rem;
}
@media only screen and (max-width: 880px) {
  .challenge {
    padding: 0.6rem 0.1rem 0.6rem 0.1rem;
  }
}
.arena button {
  width: 90%;
}

.arena {
  /*height: 80%;*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  /*flex-wrap: nowrap;*/
}

.arena-item-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0.5rem 0 0.5rem 0;
}

.arena-item {
  height: 30rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*width: 100%;*/
  box-shadow: 0px 1px 3px var(--arena-item-shadow);
  overflow: hidden;
}
@media only screen and (max-width: 880px) {
  .arena-item {
    flex-direction: column;
  }
}

/*
  flex-direction: column; 
*/

.item-counter {
  position: absolute;
  z-index: 1;
  padding: 0.4rem;
  background-color: var(--nav-background);
  opacity: 0.8;
  border-radius: 0 0.3rem 0.3rem 0.3rem;
}

.arena-prompt-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1; /* fill all horizontal space you can find */
  /*width: 50%;*/
}

.challenge-load-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Overwrite some rules if the prompt box needs to contain an image:
-Move prompt text to the bottom and turn into a caption */
.arena-prompt-box-image {
  text-align: center;
  flex-direction: column;
  justify-content: end;
  position: relative;
}

.test {
  background-size: contain;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.arena-answer-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1; /* fill all horizontal space you can find */
  /*width: 50%;*/
}

.arena-prompt {
  overflow-wrap: break-word;
  white-space: pre-wrap;
  padding: 0.5rem;
}

.arena-prompt-image-caption {
  position: absolute;
  background-color: var(--nav-background);
  opacity: 0.8;
  z-index: 1;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: 600;
}

.arena-answer {
  overflow-wrap: break-word;
  white-space: pre-wrap;
  padding: 0.5rem;
}

.item-light {
  background-color: var(--subsection);
}

.item-dark {
  background-color: var(--subsection-2);
}
